<main class="contenido-contenedor">
    <div class="profile-card">
        <!-- Botón arriba a la derecha -->
        <button class="btn-cerrar" style="top: 0.50rem; right: 0.50rem;" (click)="goTo('home')">X</button>

        <!-- Header con imagen e info, desplazado hacia abajo -->
        <div class="profile-header">

            <div class="profile-image">
                <img [src]="imagenUrl" alt="Imagen de perfil" />
            </div>
            
            <div class="profile-info">
                <h2>{{ nombre }} {{ apellido }}</h2>
                <p><strong>{{ materia }}</strong></p>
                <p><strong>División:</strong> {{ division }}</p>
            </div>
        </div>

        <div class="description">
            <h3>Descripción del Juego Propio</h3>
            <p>{{ descripcion }}</p>
        </div>
    </div>
</main>