.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background-color: #09252c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 2px solid #51db84;
    z-index: 1000;
}

.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-barra-lateral {
    position: relative;
    z-index: 1010;
    background: none;
    border: 2px solid #51db84;
    padding: 0; 
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.btn-barra-lateral img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.label-nombre-usuario {
    z-index: 1010;
    color: #b39353;
}