<main class="min-vh-100 d-flex flex-column justify-content-center align-items-center text-center bg-dark text-white px-3">
  <h1 class="display-3 fw-bold mb-4 animate-title">
    ¡Bienvenidos a <span class="text-highlight">Sala de Juegos</span>!
  </h1>

  <div class="d-flex gap-3 flex-wrap justify-content-center">
    <button class="btn btn-type-1">Empezar</button>
    <button class="btn btn-type-2">Más info</button>
    <button class="btn btn-type-3" (click)="goTo('about-me')">About Me</button>
  </div>
</main>