.animate-title {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeSlideDown 1.2s ease-out forwards;
}

@keyframes fadeSlideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    gap: 2rem;
}

.text-highlight {
    color: #51db84;
}