.cronometro {
    background: #1c4549;
    color: #b39353;
    border: 1px solid #b39353;
    font-size: 1.5rem;
    line-height: 1;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
}