.form-container {
    width: 100%;
    height: 100%;
    background-color: #010b15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background-color: #09252c;
    color: #ffffff;
    min-width: 30%;
    max-width: 90%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    border: 2px solid #51db84;
}

.form-title {
    color: #51db84;
    text-align: center;
    margin-bottom: 1.5rem;
}