.label-color {
    color: #b39353;
}

.question-label {
    width: 50%;
    margin: 1.5rem 0;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #D4AF37;
    letter-spacing: 0.05em;
    border-radius: 0.25rem;
    border: 1px solid #b39353;
}