.btn-letras {
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
}

.btn-letras:disabled {
    background-color: #1c4549;
    color: #b39353;
    border-color: #b39353;
    opacity: 0.8;
    cursor: not-allowed;
}

.display-palabra {
    letter-spacing: 1rem;
    font-size: 4rem;
    font-family: monospace;
    color: #b39353;
}
