@import 'styles/formularios.scss';
@import 'styles/botones.scss';
@import 'styles/modales.scss';
@import 'styles/inputs.scss';
@import 'styles/labels.scss';
@import 'styles/cronometro.scss';

.contenido-contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem;
    overflow-y: auto;
}

main {
    gap: 2rem;
    background-color: #010b15;
}