<main class="contenido-contenedor">
    <div class="form-box text-center">
        <h2 class="form-title">Menú de Juegos</h2>
        <div class="d-flex flex-column gap-3">
            <button class="btn btn-type-2" (click)="goTo('games/ahorcado')">Ahorcado</button>
            <button class="btn btn-type-4" (click)="goTo('games/mayor-menor')">Mayor Menor</button>
            <button class="btn btn-type-2" (click)="goTo('games/preguntados')">Preguntados</button>
            <button class="btn btn-type-4">Juego Propio</button>
            <button class="btn btn-type-3" (click)="goTo('home')">Volver</button>
        </div>
    </div>
</main>